In [ ]:
1. What exactly is []?

In [ ]:
ans:The empty list represented by [] is a list that contains no items.

In [ ]:
2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam =[2, 4, 6, 8, 10]

In [2]:
spam

[2, 4, 6, 8, 10]

In [3]:
spam[2]='hello'

In [4]:
print(spam)

[2, 4, 'hello', 8, 10]

In [ ]:
Let's pretend the spam includes the list ['a','b','c',d'] for the next three queries.

In [ ]:
3. What is the value of spam[int(int('3' * 2) / 11)]?

In [8]:
spam=['a','b','c','d']
spam[int(int('3' * 2) /11)]

'd'

In [ ]:
4. What is the value of spam[-1]?

In [9]:
spam[-1]

'd'

In [ ]:
5. What is the value of spam[:2]?

In [10]:
spam[:2]

['a', 'b']

In [ ]:
Let's pretend bacon has the list [3.14,'cat',11,'cat',True] for the next three question

In [12]:
bacon=[3.14,'cat',11,'cat',True]

In [ ]:
6. What is the value of bacon.index('cat')?

In [16]:
bacon

[3.14, 'cat', 11, 'cat', True]

In [17]:
bacon[1]

'cat'

In [20]:
bacon.index('cat')

1

In [ ]:

7. How does bacon.append(99) change the look of the list value in bacon?

In [26]:
bacon=[3.14,'cat',11,'cat',True]

In [27]:
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:

8. How does bacon.remove('cat') change the look of the list in bacon?

In [28]:
bacon=[3.14,'cat',11,'cat',True]

In [29]:
bacon.remove('cat')###remove method 1st accourence of element in list

In [30]:
bacon

[3.14, 11, 'cat', True]

In [ ]:
9.what are the list concatenation and list replication operations?

In [ ]:
The operator for list concatenation is +, while the operator for replication is *. (This is the same as for strings.)

In [31]:
##exmple

In [32]:
list1=['ashwin','dhamnaskar','mumbai']
list2=['anshika','mohankumar','navimumbai']

In [36]:
print(list1+list2)
print(list1*2)

['ashwin', 'dhamnaskar', 'mumbai', 'anshika', 'mohankumar', 'navimumbai']
['ashwin', 'dhamnaskar', 'mumbai', 'ashwin', 'dhamnaskar', 'mumbai']

In [ ]:
10.what is the difference between the list method append() and insert()?

In [ ]:
ans:append() will add values only to the end of a list, 
    insert() will add values anywhere in the list

In [38]:
##eg

In [41]:
list=[4,5,6,7]
list.append(10)
print(list)

[4, 5, 6, 7, 10]

In [43]:
list=[20,30,40,50]
list.insert(3,'ashwin')
print(list)

[20, 30, 40, 'ashwin', 50]

In [ ]:
11. What are the two methods for removing items from a list?

In [ ]:
ans: pop & remove

In [46]:
list=['ashwin','sudh',1,2,4,5]###with help of index can pop an item
list.pop(1)

'sudh'

In [47]:
list=['ashwin','sudh',1,2,4,5]### with help of values can remove an item
list.remove('ashwin')

In [48]:
list

['sudh', 1, 2, 4, 5]

In [ ]:
12. Describe how list values and string values are identical.

In [ ]:
Both lists and strings can be passed to len() function
Have indexes and slices, be used in for loops,
Can be concatenated or replicated
Can be used with the in and not in operators.

In [ ]:
13. What's the difference between tuples and lists?

In [ ]:
Lists are Mutable
Indexable and Slicable. 
They can have values added, removed, or changed. 
Tuples are Immutable but Indexable and Slicable. 
tuple values cannot be changed .
tuples are represented using parentheses () 
lists are represented using square brackets [].

In [49]:
a=[1,2,3,4,5]
b=(7,8,9,10,11)

In [50]:
print(a)

[1, 2, 3, 4, 5]

In [51]:
type(a)

list

In [52]:
print(b)

(7, 8, 9, 10, 11)

In [53]:
type(b)

tuple

In [ ]:
14. How do you type a tuple value that only contains the integer 42?

In [58]:
tup1=(42)
tup2=(42,)

In [60]:
print(type(tup1))
print(type(tup2))

<class 'int'>
<class 'tuple'>

In [ ]:

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [ ]:
ans:The tuple() and list() functions, respectively are used to convert a list to tuple and vice versa

In [ ]:
16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [ ]:
Ans: They contain references to list values.

In [ ]:
17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [67]:
#importing copy module
import copy

# initializing list 1
list1 = [1, 2, [8,9], 4]


# using copy for shallow copy
list2 = copy.copy(list1)

# using deepcopy for deepcopy
list3 = copy.deepcopy(list1)

In [68]:
list2

[1, 2, [8, 9], 4]

In [69]:
list3

[1, 2, [8, 9], 4]